* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233d;
    margin-right: 32px;
    cursor: pointer;
}

.button-sign-up {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
}

img {
    margin: 163px 0 0 123px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161a49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
    margin-top: 47px;
    margin-bottom: 55px;
}

.link-learn-more {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6fbf44;
    cursor: pointer;
}

@media (max-width: 800px) {
    /* HEADER */
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 20px;
    }

    /* esconder links e deixar só o botão */
    .link-menu {
        display: none;
    }

    .button-sign-up {
        display: block;
        width: 100px;
        height: 40px;
        font-size: 14px;
    }

    /* MAIN */
    main {
        display: flex;
        flex-direction: column-reverse; /* coloca a imagem embaixo */
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    img {
        width: 80%;
        max-width: 400px;
        margin: 40px 0 0 0;
    }

    div {
        width: 100%;
        margin: 0;
    }

    h1 {
        font-size: 36px;
        line-height: 46px;
    }

    p {
        font-size: 15px;
        line-height: 26px;
        margin: 25px 0;
    }

    .link-learn-more {
        font-size: 16px;
    }
}